.DS_Store

backbone/Labeler/U90_Alligator_1.fas

backbone/Labeler/U80_Alligator_1.fas

backbone/Labeler/C90_Alligator_1.fas

backbone/Labeler/C80_Alligator_1.fas

backbone/Labeler/Alligator_1_megablast.txt

backbone/Labeler/Alligator_1.fas

backbone/Megablast/.DS_Store

backbone/Megablast/.DS_Store

backbone/Megablast/.DS_Store

backbone/Barcode/pool2_run1_2_Trimmed.fas

backbone/Megablast/.DS_Store

backbone/Megablast/.DS_Store

backbone/Megablast/.DS_Store

backbone/Megablast/.DS_Store

backbone/Barcode/test/.fas

.gitignore

backbone/Barcode/barcode.pl

backbone/Barcode/test/Alligator_1.fas

backbone/Barcode/test/Whale.fas

backbone/Barcode/test/nobar.fas

backbone/Barcode/test/nobar.fas

backbone/Barcode/test/info.txt

backbone/Megablast/.DS_Store

backbone/Barcode/test/nobar.fas

.gitignore

.gitignore

backbone/Barcode/test/.fas

backbone/Barcode/test/Alligator_1.fas

backbone/Barcode/test/Alligator_1.fas

backbone/Megablast/.DS_Store

backbone/Barcode/test/info.txt

backbone/Barcode/test/T-Rex.fas

backbone/Barcode/test/nobar.fas

backbone/Megablast/.DS_Store

.gitignore

backbone/Barcode/test/nobar.fas

.gitignore

backbone/Barcode/barcode_counts.txt

backbone/Barcode/mars_barcode.txt

backbone/Barcode/mars_barcode.txt

backbone/Barcode/mars_barcode.txt

backbone/Barcode/barcode_counts.txt

backbone/Barcode/barcode_counts.txt

backbone/Barcode/test.fas
